*.[oa]
*.txt
keil*
*~
*.d
*.lst
*.bin
*.elf
*.map
*.hex
.*
!.gitignore
!.project
!.cproject
*.dep
*.ini
*.nvopj
*.uvproj
*.Administrator
*.iex
*.__i
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3


